<app-login (updateAccount) = setClientAccount($event)></app-login>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Bank Account Page</title>
	<link rel="stylesheet" href="account.component.css">
</head>

<body>
	<div class="container">
		<h1>Bank Account Page</h1>
		<div class="account">
			<h2>Savings Account</h2>
			<p>Account Number: <span class="acct-number">{{account.savings_accountNumber}}</span></p>
			<p>Balance: $<span class="balance">{{account.savingsbalance}}</span></p>
		</div>
		<div class="account">
			<h2>Checking Account</h2>
			<p>Account Number: <span class="acct-number">{{account.checking_accountNumber}}</span></p>
			<p>Balance: $<span class="balance">{{account.checkingbalance}}</span></p>
		</div>
		<div class="transactions">
			<h2>Recent Transactions</h2>
			<app-transactions></app-transactions>

			<ul>
				<li>03/20/2023 - $500.00 - Deposit</li>
			</ul>

		</div>
		<div class="buttons">
			<button class="deposit" routerLink="/account/deposit">Deposit</button>
			<app-deposit (depositEvent)="deposit($event)"></app-deposit>
			<button class="bill-pay" (click)=billPay()>Bill Payments</button>
			<button class="fund-transfer" (click)=transfer()>Funds Transfer</button>
		</div>
	</div>
</body>

</html>